<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.softmex.facebooklogin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Facebook Login</name>
    
    <!-- JavaScript модул -->
    <js-module name="facebookLogin" src="www/facebook-login.js">
        <clobbers target="cordova.plugins.facebookLogin" />
    </js-module>

    <!-- iOS конфигурация -->
    <platform name="ios">
        <!-- Деклариране на функционалност -->
        <config-file parent="/*" target="config.xml">
            <feature name="FacebookLogin">
                <param name="ios-package" value="FacebookLogin" />
            </feature>
        </config-file>
        <!-- Добавяне на изходния файл -->
        <source-file src="src/ios/FacebookLogin.m" />
    </platform>

    <!-- Android конфигурация -->
    <platform name="android">
        <!-- Деклариране на функционалност -->
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="facebook-login">
                <param name="android-package" value="com.softmex.facebooklogin.FacebookLogin" />
            </feature>
        </config-file>
        <!-- Указване на разрешения в AndroidManifest.xml -->
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <!-- Добавяне на изходния файл -->
        <source-file src="src/android/FacebookLogin.java" target-dir="src/com/softmex/facebooklogin" />
    </platform>
</plugin>
